Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2022-10, with the labels that each got.

#156 HEALPix4Grid and FullHEALPix4Grid implementation
  src/SpeedyWeather.jl
  src/geometry.jl
  src/grids.jl
  src/spectral_transform.jl
  test/grids.jl
  test/spectral_transform.jl
Labels: transform, array types

#160 Lon offset rotation enabled
  src/spectral_transform.jl
  test/spectral_transform.jl
Labels: transform

#164 LowerTriangularMatrix Broadcast fix
  src/lower_triangular_matrix.jl
  test/lower_triangular_matrix.jl
Labels: bug, array types

#166 Legendre shortcut: truncate loop over m
  src/default_parameters.jl
  src/spectral_transform.jl
Labels: performance, transform

#167 No [l,m] access to LTM in gradients
  src/lower_triangular_matrix.jl
  src/spectral_gradients.jl
  test/lower_triangular_matrix.jl
Labels: performance, array types
