Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2022-12, with the labels that each got.

#198 Vertical advection of u,v + tendencies (vor, pres grads)
  src/diagnostic_variables.jl
  src/tendencies.jl
  src/tendencies_dynamics.jl
Labels: vertical, dynamics

#169 Add shortwave radiation parametrization
  LICENSE
  docs/src/functions.md
  src/SpeedyWeather.jl
  src/column_variables.jl
  src/default_parameters.jl
  src/parameter_structs.jl
  src/shortwave_radiation.jl
  src/tendencies_parametrizations.jl
  test/runtests.jl
  test/shortwave_radiation.jl
Labels: parameterizations

#205 Temperature equation and primitive equation time stepping
  src/constants.jl
  src/default_parameters.jl
  src/diagnostic_variables.jl
  src/geometry.jl
  src/geopotential.jl
  src/implicit_correction.jl
  src/large_scale_condensation.jl
  src/shortwave_radiation.jl
  src/tendencies.jl
  src/tendencies_dynamics.jl
  src/tendencies_parametrizations.jl
  src/thermodynamics.jl
  src/time_integration.jl
Labels: structure, vertical, dynamics

#206 temp, pres initial conditions at rest
  src/boundaries.jl
  src/default_parameters.jl
  src/initial_conditions.jl
  src/tendencies.jl
  src/tendencies_dynamics.jl
Labels: vertical, dynamics

#210 Reformulated temperature equation
  src/diagnostic_variables.jl
  src/geometry.jl
  src/initial_conditions.jl
  src/tendencies.jl
  src/tendencies_dynamics.jl
  src/tendencies_parametrizations.jl
Labels: vertical, dynamics

#211 Overhauled vertical advection
  src/diagnostic_variables.jl
  src/tendencies.jl
  src/tendencies_dynamics.jl
  src/time_integration.jl
Labels: performance, vertical, dynamics
