Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2023-11, with the labels that each got.

#405 Output cloud top [Pa], condensation simplified
  src/dynamics/atmospheres.jl
  src/dynamics/diagnostic_variables.jl
  src/output/output.jl
  src/physics/column_variables.jl
  src/physics/large_scale_condensation.jl
Labels: humidity

#407 NetCDF output with BFloat16
  Project.toml
  src/output/output.jl
Labels: low precision, output

#408 plot(::LowerTriangularMatrix)
  src/LowerTriangularMatrices/LowerTriangularMatrices.jl
  src/LowerTriangularMatrices/plot.jl
  src/RingGrids/RingGrids.jl
  src/SpeedyWeather.jl
  src/output/plot.jl
Labels: data, user interface

#409 Simplify default vertical coordinate spacing to equi-distant with sigma
  src/dynamics/vertical_coordinates.jl
Labels: new defaults, vertical

#415 Fix load_trajectory
  src/output/output.jl
Labels: bug, output

#418 Output_dt in leapfrog time stepping and some adjustments for using Dates
  docs/Project.toml
  docs/make.jl
  docs/src/how_to_run_speedy.md
  docs/src/output.md
  docs/src/ringgrids.md
  docs/src/setups.md
  docs/src/speedytransforms.md
  src/SpeedyWeather.jl
  src/dynamics/forcing.jl
  src/dynamics/horizontal_diffusion.jl
  src/dynamics/models.jl
  src/dynamics/prognostic_variables.jl
  src/dynamics/time_integration.jl
  src/output/feedback.jl
  src/output/output.jl
  src/physics/large_scale_condensation.jl
  src/utility_functions.jl
  test/dates.jl
  test/netcdf_output.jl
  test/runtests.jl
  test/vertical_advection.jl
Labels: user interface, output

#414 Convection
  src/SpeedyTransforms/show.jl
  src/SpeedyWeather.jl
  src/dynamics/atmospheres.jl
  src/dynamics/constants.jl
  src/dynamics/diagnostic_variables.jl
  src/dynamics/geopotential.jl
  src/dynamics/initial_conditions.jl
  src/dynamics/models.jl
  src/dynamics/spectral_grid.jl
  src/dynamics/vertical_interpolation.jl
  src/output/output.jl
  src/physics/boundary_layer.jl
  src/physics/column_variables.jl
  src/physics/convection.jl
  src/physics/define_column.jl
  src/physics/large_scale_condensation.jl
  src/physics/surface_fluxes.jl
  src/physics/temperature_relaxation.jl
  src/physics/tendencies.jl
  src/physics/thermodynamics.jl
  src/physics/vertical_diffusion.jl
  src/physics/vertical_interpolation.jl
  test/column_variables.jl
Labels: parameterizations, vertical, humidity
