Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2024-05, with the labels that each got.

#530 Surface flux documentation
  docs/src/land_sea_mask.md
  docs/src/surface_fluxes.md
  src/physics/boundary_layer.jl
  src/physics/surface_fluxes.jl
Labels: documentation :books:, surface :mountain:

#532 Vertical diffusion documentation
  docs/src/vertical_diffusion.md
  src/physics/vertical_diffusion.jl
Labels: documentation :books:, parameterizations :cloud_with_rain:, vertical :arrow_up:

#533 Ocean model documentation
  docs/src/ocean.md
Labels: documentation :books:, ocean :ocean:

#534 Parameterization structure documented
  docs/src/parameterizations.md
  docs/src/vertical_diffusion.md
Labels: documentation :books:, parameterizations :cloud_with_rain:

#535 Bump Makie compat
  Project.toml
Labels: compatibility :dancers:

#536 Docs clarification: Parameterization for primitive models only
  docs/src/parameterizations.md
Labels: documentation :books:, parameterizations :cloud_with_rain:

#537 Restructure docs following #443
  docs/make.jl
  docs/src/extensions.md
  docs/src/forcing_drag.md
Labels: documentation :books:

#538 Scale orography and smooth fraction of resolved wavenumbers
  docs/src/orography.md
  src/dynamics/orography.jl
  test/spectral_transform.jl
Labels: input data :floppy_disk:, surface :mountain:

#531 Add explicit arithmetics again to LowerTriangularArrays
  src/LowerTriangularMatrices/LowerTriangularMatrices.jl
  src/LowerTriangularMatrices/lower_triangular_matrix.jl
  test/lower_triangular_matrix.jl
Labels: performance :rocket:, array types :globe_with_meridians:

#540 Horizontal diffusion not adaptive
  docs/src/examples_3D.md
  src/dynamics/horizontal_diffusion.jl
  src/dynamics/time_integration.jl
Labels: dynamics :wavy_dash:, time integration :clock10:

#541 Large-scale condensation at previous time step
  docs/src/examples_3D.md
  src/dynamics/diagnostic_variables.jl
  src/dynamics/tendencies.jl
  src/dynamics/time_integration.jl
  src/physics/column_variables.jl
  src/physics/define_column.jl
  src/physics/large_scale_condensation.jl
  src/physics/tendencies.jl
  src/physics/thermodynamics.jl
Labels: documentation :books:, humidity :droplet:, time integration :clock10:

#542 Surface fluxes calculated from previous time step
  src/physics/large_scale_condensation.jl
  src/physics/surface_fluxes.jl
Labels: time integration :clock10:, surface :mountain:
