Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2024-11, with the labels that each got.

#603 Define `zonal_mean` for any AbstractGridArray
  CHANGELOG.md
  docs/src/index.md
  src/RingGrids/RingGrids.jl
  src/RingGrids/general.jl
  src/RingGrids/statistics.jl
  src/SpeedyWeather.jl
  test/grids.jl
Labels: user interface :musical_keyboard:, grid :globe_with_meridians:

#600 GeoMakie extension and interactive 3D grid visualisation on the sphere
  CHANGELOG.md
  Project.toml
  docs/Project.toml
  docs/src/grids.md
  ext/SpeedyWeatherGeoMakieExt/SpeedyWeatherGeoMakieExt.jl
  ext/SpeedyWeatherGeoMakieExt/faces.jl
  src/RingGrids/RingGrids.jl
  src/RingGrids/vertices.jl
  src/SpeedyWeather.jl
  src/dynamics/geometry.jl
  src/dynamics/prognostic_variables.jl
  src/physics/tendencies.jl
  test/spectral_gradients.jl
Labels: user interface :musical_keyboard:, grid :globe_with_meridians:

#601 Array-agnostic horizontal diffusion, +modularised
  CHANGELOG.md
  README.md
  benchmark/benchmark_suite.jl
  docs/src/analysis.md
  docs/src/callbacks.md
  docs/src/custom_netcdf_output.md
  docs/src/examples_2D.md
  docs/src/examples_3D.md
  docs/src/forcing_drag.md
  docs/src/gradients.md
  docs/src/how_to_run_speedy.md
  docs/src/initial_conditions.md
  docs/src/land_sea_mask.md
  docs/src/orography.md
  docs/src/output.md
  docs/src/parameterizations.md
  docs/src/particles.md
  docs/src/structure.md
  src/SpeedyTransforms/spectrum.jl
  src/dynamics/horizontal_diffusion.jl
  src/dynamics/initial_conditions.jl
  src/dynamics/time_integration.jl
  src/models/barotropic.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/models/shallow_water.jl
  src/models/simulation.jl
  test/callbacks.jl
  test/column_variables.jl
  test/convection.jl
  test/diffusion.jl
  test/extending.jl
  test/geopotential.jl
  test/land_sea_mask.jl
  test/netcdf_output.jl
  test/ocean.jl
  test/orography.jl
  test/particle_advection.jl
  test/radiation.jl
  test/run_speedy.jl
  test/set.jl
  test/spectral_gradients.jl
  test/vertical_advection.jl
Labels: dynamics :wavy_dash:, spectral :wavy_dash:

#608 Update README.md with dataviz
  README.md
Labels: documentation :books:, user interface :musical_keyboard:

#611 set! for boundary conditions
  CHANGELOG.md
  docs/src/land_sea_mask.md
  src/SpeedyWeather.jl
  src/dynamics/orography.jl
  src/dynamics/prognostic_variables.jl
  src/models/set.jl
  src/physics/albedo.jl
  src/physics/land_sea_mask.jl
Labels: input data :floppy_disk:, user interface :musical_keyboard:, surface :mountain:

#612 ConstantLandTemperature implemented
  CHANGELOG.md
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/physics/land.jl
Labels: surface :mountain:

#609 large-scale condensation at <100%
  CHANGELOG.md
  docs/src/large_scale_condensation.md
  src/physics/large_scale_condensation.jl
  test/large_scale_cond.jl
Labels: bug :lady_beetle:, humidity :droplet:

#615 Include large-scale condensation tests
  CHANGELOG.md
  test/large_scale_condensation.jl
  test/runtests.jl
Labels: testing :test_tube:

#606 Optical depth parameterization + array-agnostic ColumnVariables
  CHANGELOG.md
  docs/src/large_scale_condensation.md
  src/SpeedyWeather.jl
  src/dynamics/diagnostic_variables.jl
  src/dynamics/spectral_grid.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/physics/define_column.jl
  src/physics/longwave_radiation.jl
  src/physics/optical_depth.jl
  src/physics/shortwave_radiation.jl
  src/physics/tendencies.jl
  test/optical_depth.jl
  test/runtests.jl
Labels: parameterizations :cloud_with_rain:, humidity :droplet:, radiation :sun_with_face:

#589 SpeedyTransforms: Differentiable transforms via custom Enzyme rule
  CHANGELOG.md
  Project.toml
  ext/SpeedyWeatherEnzymeExt.jl
  ext/SpeedyWeatherFiniteDifferencesExt.jl
  test/Project.toml
  test/runtests.jl
  test/spectral_transform_ad_rules.jl
Labels: transform :arrow_left: :arrow_right:, differentiability 🤖
