Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2024-06, with the labels that each got.

#387 JOSS paper
  .github/workflows/draft-pdf.yml
  .gitignore
  docs/img/barotropic_vorticity.jpg
  docs/img/frame0240_small.jpg
  docs/img/galewsky.jpg
  docs/img/galewsky_nc_12days.png
  docs/img/galewsky_nc_12days_mountains.png
  docs/img/galewsky_nc_6days.png
  docs/joss/paper.bib
  docs/joss/paper.md
  docs/joss/paper.pdf
  docs/joss/particles.jpg
  docs/joss/primitive.jpg
  docs/joss/swm.png
Labels: documentation :books:, joss review :book:

#548 JOSS paper citation
  CITATION.cff
  README.md
  docs/joss/paper.bib
  docs/joss/paper.md
  docs/src/index.md
Labels: joss review :book:

#555 All parameterizations at prev timestep, flux limiters removed
  docs/src/surface_fluxes.md
  src/dynamics/planet.jl
  src/dynamics/virtual_temperature.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/physics/boundary_layer.jl
  src/physics/column_variables.jl
  src/physics/define_column.jl
  src/physics/large_scale_condensation.jl
  src/physics/shortwave_radiation.jl
  src/physics/surface_fluxes.jl
  src/physics/thermodynamics.jl
  src/physics/vertical_diffusion.jl
Labels: bug :lady_beetle:, parameterizations :cloud_with_rain:, humidity :droplet:
