Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2024-12, with the labels that each got.

#625 [SpeedyTransforms] Restrict finite difference tests to one grid only
  CHANGELOG.md
  test/spectral_transform_ad_rules.jl
Labels: testing :test_tube:, transform :arrow_left: :arrow_right:, differentiability 🤖

#627 [SpeedyTransforms] Exclude second differentiation identity test for OctahedralGrid
  CHANGELOG.md
  test/spectral_transform_ad_rules.jl
Labels: testing :test_tube:, differentiability 🤖

#613 Slab ocean and net surface and top-of-atmosphere fluxes
  CHANGELOG.md
  src/dynamics/diagnostic_variables.jl
  src/dynamics/time_integration.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/output/netcdf_output.jl
  src/physics/column_variables.jl
  src/physics/define_column.jl
  src/physics/land.jl
  src/physics/longwave_radiation.jl
  src/physics/ocean.jl
  src/physics/shortwave_radiation.jl
  src/physics/surface_fluxes.jl
  test/ocean.jl
Labels: parameterizations :cloud_with_rain:, surface :mountain:, ocean :ocean:

#624 One band longwave radiation implemented
  CHANGELOG.md
  src/physics/longwave_radiation.jl
  test/longwave_radiation.jl
  test/runtests.jl
Labels: radiation :sun_with_face:

#628 Introduce separate extended tests in CI
  .github/workflows/extended_tests.yml
  CHANGELOG.md
  test/runtests.jl
  test/spectral_transform_ad_rules.jl
Labels: testing :test_tube:

#629 AbstractStochasticPhysics and SPPT
  CHANGELOG.md
  docs/make.jl
  docs/src/stochastic_physics.md
  src/SpeedyWeather.jl
  src/dynamics/random_process.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/physics/stochastic_physics.jl
  src/physics/tendencies.jl
  test/random_process.jl
Labels: parameterizations :cloud_with_rain:, stochastic :game_die:

#631 AbstractSurfacePerturbation
  CHANGELOG.md
  docs/src/stochastic_physics.md
  src/physics/convection.jl
  src/physics/longwave_radiation.jl
  test/runtests.jl
  test/stochastic_physics.jl
Labels: parameterizations :cloud_with_rain:, surface :mountain:, stochastic :game_die:

#623 Change timestep to 40min at T31
  CHANGELOG.md
  docs/src/forcing_drag.md
  docs/src/initial_conditions.md
  src/dynamics/time_integration.jl
  test/schedule.jl
Labels: time integration :clock10:

#636 Roll back GPUArrays upgrade
  CHANGELOG.md
  Project.toml
  src/LowerTriangularMatrices/lower_triangular_array.jl
  src/RingGrids/general.jl
  test/Project.toml
Labels: bug :lady_beetle:, gpu :framed_picture:

#637 RingGrinds more general indexing with Colon (less escapes)
  CHANGELOG.md
  src/RingGrids/general.jl
  test/grids.jl
Labels: bug :lady_beetle:, array types :1234:

#635 Forcing/drag for primitive models too
  CHANGELOG.md
  docs/src/forcing_drag.md
  src/dynamics/drag.jl
  src/dynamics/forcing.jl
  src/dynamics/initial_conditions.jl
  src/dynamics/random_process.jl
  src/dynamics/tendencies.jl
  src/dynamics/time_integration.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  test/extending.jl
  test/forcing_drag.jl
  test/runtests.jl
Labels: forcing :weight_lifting:, stochastic :game_die:

#634 Number format flexibility with set!
  CHANGELOG.md
  src/SpeedyTransforms/fourier.jl
  src/SpeedyTransforms/spectral_transform.jl
  src/dynamics/prognostic_variables.jl
Labels: bug :lady_beetle:, initial conditions :traffic_light:

#639 ConvectiveHeating implemented
  CHANGELOG.md
  src/physics/convection.jl
  test/convection.jl
Labels: parameterizations :cloud_with_rain:

#646 Dummy Buildkite Pipeline
  .buildkite/pipeline.yml
  CHANGELOG.md
Labels: testing :test_tube:, gpu :framed_picture:
