Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2024-10, with the labels that each got.

#585 Stop supporting Julia 1.9
  .github/workflows/CI.yml
  .github/workflows/Documenter.yml
  .github/workflows/draft-pdf.yml
  CHANGELOG.md
  Project.toml
  README.md
  docs/src/installation.md
  src/models/barotropic.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/models/shallow_water.jl
  src/utility_functions.jl
  test/grids.jl
Labels: compatibility :dancers:, package :package:

#586 Move CUDA to extension
  CHANGELOG.md
  Project.toml
  ext/SpeedyWeatherCUDAExt.jl
  src/LowerTriangularMatrices/lower_triangular_matrix.jl
  src/RingGrids/RingGrids.jl
  src/RingGrids/general.jl
  src/SpeedyWeather.jl
  src/gpu.jl
Labels: gpu :framed_picture:

#583 Array-agnostic SpectralTransform
  CHANGELOG.md
  docs/src/examples_2D.md
  src/LowerTriangularMatrices/LowerTriangularMatrices.jl
  src/LowerTriangularMatrices/lower_triangular_array.jl
  src/RingGrids/general.jl
  src/SpeedyTransforms/show.jl
  src/SpeedyTransforms/spectral_transform.jl
  src/dynamics/spectral_grid.jl
Labels: gpu :framed_picture:, transform :arrow_left: :arrow_right:

#588 Add Haversine and general `spherical_distance` and `AbstractSphericalDistance` functionality
  CHANGELOG.md
  docs/src/orography.md
  src/RingGrids/RingGrids.jl
  src/RingGrids/geodesics.jl
  src/SpeedyWeather.jl
  test/geodesics.jl
  test/runtests.jl
Labels: user interface :musical_keyboard:, array types :globe_with_meridians:

#591 Rossby-Haurwitz wave initial conditions +docs
  CHANGELOG.md
  docs/make.jl
  docs/src/initial_conditions.md
  docs/src/orography.md
  src/RingGrids/geodesics.jl
  src/dynamics/initial_conditions.jl
  src/output/netcdf_output.jl
Labels: documentation :books:, user interface :musical_keyboard:, initial conditions :traffic_light:

#587 Do not interweave transform
  CHANGELOG.md
  docs/src/speedytransforms.md
  src/LowerTriangularMatrices/lower_triangular_array.jl
  src/SpeedyTransforms/SpeedyTransforms.jl
  src/SpeedyTransforms/fourier.jl
  src/SpeedyTransforms/legendre.jl
  src/SpeedyTransforms/legendre_shortcuts.jl
  src/SpeedyTransforms/show.jl
  src/SpeedyTransforms/spectral_transform.jl
  src/SpeedyTransforms/spectrum.jl
  src/SpeedyWeather.jl
  src/dynamics/spectral_grid.jl
  test/lower_triangular_matrix.jl
  test/spectral_gradients.jl
  test/spectral_transform.jl
Labels: transform :arrow_left: :arrow_right:

#593 Model constructors with positional SpectralGrid argument
  CHANGELOG.md
  src/dynamics/spectral_grid.jl
Labels: user interface :musical_keyboard:

#596 NetCDF output: Precipitation accumulated and rate
  CHANGELOG.md
  docs/src/analysis.md
  docs/src/callbacks.md
  docs/src/examples_3D.md
  docs/src/land_sea_mask.md
  src/SpeedyWeather.jl
  src/dynamics/diagnostic_variables.jl
  src/dynamics/time_integration.jl
  src/output/callbacks.jl
  src/output/feedback.jl
  src/output/netcdf_output.jl
  src/output/particle_tracker.jl
  test/callbacks.jl
Labels: output :outbox_tray:, humidity :droplet:
