Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2025-04, with the labels that each got.

#706 Move get_faces function from extension to RingGrids
  CHANGELOG.md
  ext/SpeedyWeatherGeoMakieExt.jl
  ext/SpeedyWeatherGeoMakieExt/faces.jl
  src/RingGrids/vertices.jl
Labels: array types :1234:, visualisation :framed_picture:

#708 Documentation: surface variable output
  CHANGELOG.md
  docs/src/custom_netcdf_output.md
Labels: documentation :books:, output :outbox_tray:

#702 Documentation of convection
  CHANGELOG.md
  docs/img/grids_comparison.png
  docs/src/barotropic.md
  docs/src/convection.md
  docs/src/large_scale_condensation.md
  docs/src/primitiveequation.md
Labels: documentation :books:

#687 Make KolmogorovFlow default for BarotropicModel
  CHANGELOG.md
  docs/src/examples_2D.md
  docs/src/gradients.md
  src/SpeedyTransforms/spectral_gradients.jl
  src/dynamics/drag.jl
  src/dynamics/forcing.jl
  src/dynamics/initial_conditions.jl
  src/models/barotropic.jl
Labels: forcing :weight_lifting:, new defaults :new:, dynamics :wavy_dash:

#712 Fix docstring rendering
  CHANGELOG.md
  docs/src/primitiveequation.md
  src/RingGrids/general.jl
  src/dynamics/adiabatic_conversion.jl
  src/dynamics/clock.jl
  src/dynamics/coriolis.jl
  src/dynamics/drag.jl
  src/dynamics/geometry.jl
  src/dynamics/horizontal_diffusion.jl
  src/dynamics/implicit.jl
  src/dynamics/random_process.jl
  src/dynamics/vertical_coordinates.jl
  src/dynamics/virtual_temperature.jl
  src/gpu.jl
  src/models/tree.jl
  src/output/callbacks.jl
  src/output/variables/boundaries.jl
  src/output/variables/dynamics.jl
  src/output/variables/land.jl
  src/output/variables/ocean.jl
  src/output/variables/precipitation.jl
  src/output/variables/radiation.jl
  src/output/variables/stochastic.jl
  src/output/variables/surface_fluxes.jl
  src/physics/albedo.jl
  src/physics/ocean.jl
  src/utility_functions.jl
Labels: documentation :books:

#714 Add mod(lon, 360) for isapprox particles
  CHANGELOG.md
  src/dynamics/particles.jl
  test/dynamics/particles.jl
Labels: bug :lady_beetle:, particles :balloon:

#602 Implementation of CUDA-ised transform
  .buildkite/pipeline.yml
  CHANGELOG.md
  benchmark/CUDA/Project.toml
  benchmark/CUDA/README.md
  benchmark/CUDA/benchmark_suite.jl
  benchmark/CUDA/define_benchmarks.jl
  benchmark/CUDA/plot_benchmarks.jl
  benchmark/CUDA/run_benchmarks.jl
  benchmark/benchmark_suite.jl
  ext/SpeedyWeatherCUDAExt/SpeedyWeatherCUDAExt.jl
  ext/SpeedyWeatherCUDAExt/fourier.jl
  ext/SpeedyWeatherCUDAExt/legendre.jl
  ext/SpeedyWeatherCUDAExt/spectral_transform.jl
  src/SpeedyTransforms/SpeedyTransforms.jl
  src/SpeedyTransforms/fourier.jl
  src/SpeedyTransforms/spectral_transform.jl
  test/GPU/runtests.jl
  test/GPU/spectral_transform.jl
Labels: gpu :framed_picture:, transform :arrow_left: :arrow_right:

#717 Shallow water implicit without precomputed arrays
  CHANGELOG.md
  src/dynamics/implicit.jl
Labels: dynamics :wavy_dash:, shallow water :ocean:

#710 RingGrid and LowerTriangularArray (longitude) rotation
  CHANGELOG.md
  docs/src/lowertriangularmatrices.md
  src/LowerTriangularMatrices/LowerTriangularMatrices.jl
  src/LowerTriangularMatrices/rotate.jl
  src/RingGrids/RingGrids.jl
  src/RingGrids/rotate.jl
  src/physics/land/soil_moisture.jl
  test/grids/rotate.jl
  test/runtests.jl
  test/transforms/lower_triangular_matrix.jl
Labels: array types :1234:, grid :globe_with_meridians:

#718 bump to v0.15
  CHANGELOG.md
  Project.toml
Labels: package :package:

#713 Move docs to SpeedyWeatherDocumentation
  .github/workflows/Documenter.yml
  CHANGELOG.md
  docs/make.jl
Labels: documentation :books:, package :package:

#723 Update docs/dev link in README
  CHANGELOG.md
  README.md
Labels: documentation :books:
