Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2025-02, with the labels that each got.

#675 JLD2 Output
  CHANGELOG.md
  docs/src/output.md
  src/SpeedyWeather.jl
  src/models/simulation.jl
  src/output/jld2_output.jl
  src/output/restart_file.jl
  test/Project.toml
  test/output/jld2_output.jl
  test/runtests.jl
Labels: output :outbox_tray:

#674 Changes for Reactant.jl
  CHANGELOG.md
  docs/src/how_to_run_speedy.md
  docs/src/orography.md
  src/RingGrids/interpolation.jl
  src/dynamics/adiabatic_conversion.jl
  src/dynamics/coriolis.jl
  src/dynamics/geometry.jl
  src/dynamics/geopotential.jl
  src/dynamics/implicit.jl
  src/dynamics/orography.jl
  src/dynamics/spectral_grid.jl
  src/dynamics/tracers.jl
  src/dynamics/vertical_coordinates.jl
  src/output/feedback.jl
  src/physics/land/land.jl
  src/physics/land/temperature.jl
  src/physics/land_sea_mask.jl
  src/physics/ocean.jl
  src/physics/vertical_diffusion.jl
  test/dynamics/vertical_coordinates.jl
Labels: gpu :framed_picture:, compatibility :dancers:

#656 Differentiability tests for time stepping
  CHANGELOG.md
  docs/make.jl
  docs/src/differentiability.md
  ext/SpeedyWeatherEnzymeExt.jl
  ext/SpeedyWeatherFiniteDifferencesExt.jl
  src/LowerTriangularMatrices/lower_triangular_array.jl
  src/RingGrids/general.jl
  src/dynamics/clock.jl
  src/dynamics/implicit.jl
  src/dynamics/particles.jl
  src/dynamics/prognostic_variables.jl
  src/dynamics/tendencies.jl
  src/physics/surface_fluxes/heat.jl
  src/physics/surface_fluxes/moisture.jl
  src/physics/surface_fluxes/momentum.jl
  src/physics/vertical_diffusion.jl
  src/physics/zenith.jl
  test/differentiability/barotropic.jl
  test/differentiability/primitivewet.jl
  test/differentiability/runtests.jl
  test/differentiability/speedy_transforms.jl
  test/differentiability/test_utils.jl
  test/differentiability/timestep_utils.jl
  test/differentiability/timestepping.jl
  test/prognostic_variables.jl
  test/runtests.jl
  test/transforms/spectral_transform_ad_rules.jl
Labels: differentiability 🤖

#679 SigmaCoordinates double-defined () constructor
  CHANGELOG.md
  src/dynamics/vertical_coordinates.jl
  test/dynamics/vertical_coordinates.jl
Labels: vertical :arrow_up:
