Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2025-01, with the labels that each got.

#579 Add tracer advection
  CHANGELOG.md
  README.md
  docs/make.jl
  docs/src/tracers.md
  src/SpeedyWeather.jl
  src/dynamics/diagnostic_variables.jl
  src/dynamics/horizontal_diffusion.jl
  src/dynamics/prognostic_variables.jl
  src/dynamics/set.jl
  src/dynamics/spectral_grid.jl
  src/dynamics/tendencies.jl
  src/dynamics/time_integration.jl
  src/dynamics/tracers.jl
  src/dynamics/vertical_advection.jl
  src/dynamics/virtual_temperature.jl
  src/models/barotropic.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/models/shallow_water.jl
  src/output/netcdf_output.jl
  src/physics/stochastic_physics.jl
  test/tracer_advection.jl
Labels: enhancement :mag:, dynamics :wavy_dash:, exoplanet :alien:

#638 Spectral Gradients Gradients
  CHANGELOG.md
  src/SpeedyTransforms/spectral_gradients.jl
  src/dynamics/set.jl
  src/dynamics/tendencies.jl
  test/spectral_transform_ad_rules.jl
Labels: differentiability 🤖

#649 Clamp in ZonalWind to [0, 1] for sqrt
  CHANGELOG.md
  src/dynamics/initial_conditions.jl
  test/resolutions.jl
  test/runtests.jl
Labels: bug :lady_beetle:

#650 `set!` for time step
  CHANGELOG.md
  src/dynamics/time_integration.jl
  test/time_stepping.jl
Labels: time integration :clock10:

#647 Grid coordinates defined in degrees not colatitudes and radians
  CHANGELOG.md
  docs/src/ringgrids.md
  ext/SpeedyWeatherGeoMakieExt/SpeedyWeatherGeoMakieExt.jl
  src/RingGrids/RingGrids.jl
  src/RingGrids/full_grids.jl
  src/RingGrids/general.jl
  src/RingGrids/grids/full_clenshaw.jl
  src/RingGrids/grids/full_gaussian.jl
  src/RingGrids/grids/full_healpix.jl
  src/RingGrids/grids/full_octahealpix.jl
  src/RingGrids/grids/healpix.jl
  src/RingGrids/grids/octahealpix.jl
  src/RingGrids/grids/octahedral_clenshaw.jl
  src/RingGrids/grids/octahedral_gaussian.jl
  src/RingGrids/grids/octaminimal_gaussian.jl
  src/RingGrids/interpolation.jl
  src/RingGrids/reduced_grids.jl
  src/RingGrids/vertices.jl
  src/SpeedyTransforms/spectral_transform.jl
  src/dynamics/geometry.jl
  src/dynamics/initial_conditions.jl
  src/dynamics/particle_advection.jl
  src/output/netcdf_output.jl
  test/interpolation.jl
Labels: grid :globe_with_meridians:

#652 Group initialize!, timestep!, finalize! of main time loop
  CHANGELOG.md
  src/dynamics/time_integration.jl
  src/models/simulation.jl
Labels: structure :house:

#654 bug: south pole at -90 for vertices
  CHANGELOG.md
  src/RingGrids/vertices.jl
Labels: bug :lady_beetle:, grid :globe_with_meridians:

#633 NBandRadiation scheme for longwave outgoing
  CHANGELOG.md
  src/SpeedyWeather.jl
  src/dynamics/atmosphere.jl
  src/dynamics/diagnostic_variables.jl
  src/dynamics/particle_advection.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/output/variables/radiation.jl
  src/output/variables/surface_fluxes.jl
  src/physics/column_variables.jl
  src/physics/define_column.jl
  src/physics/longwave_radiation.jl
  src/physics/ocean.jl
  src/physics/optical_depth.jl
  src/physics/shortwave_radiation.jl
  src/physics/surface_fluxes.jl
  test/longwave_radiation.jl
  test/optical_depth.jl
Labels: radiation :sun_with_face:, surface :mountain:, ocean :ocean:

#659 First timesteps in main loop
  CHANGELOG.md
  src/dynamics/time_integration.jl
Labels: time integration :clock10:

#645 GPU CI Pipeline
  .buildkite/pipeline.yml
  CHANGELOG.md
Labels: testing :test_tube:, gpu :framed_picture:

#664 Prescribed surface heat and evaporative fluxes
  CHANGELOG.md
  src/physics/surface_fluxes.jl
  src/physics/tendencies.jl
Labels: surface :mountain:

#666 Initialize simulation restructured
  CHANGELOG.md
  src/dynamics/time_integration.jl
  src/models/simulation.jl
Labels: structure :house:

#665 AbstractVectors in interpolation.jl
  CHANGELOG.md
  src/RingGrids/interpolation.jl
Labels: surface :mountain:

#668 [LowerTriangularMatrices] Sum for LTA
  CHANGELOG.md
  docs/src/lowertriangularmatrices.md
  src/LowerTriangularMatrices/lower_triangular_array.jl
  test/lower_triangular_matrix.jl
Labels: array types :1234:

#669 Precipitation rate for coupling
  CHANGELOG.md
  src/dynamics/diagnostic_variables.jl
  src/physics/column_variables.jl
  src/physics/convection.jl
  src/physics/define_column.jl
  src/physics/large_scale_condensation.jl
Labels: humidity :droplet:, surface :mountain:

#657 NetCDF output for tracers, precipitation rates at initialize! again
  CHANGELOG.md
  docs/src/output.md
  src/output/variables/output_variables.jl
  src/output/variables/precipitation.jl
  src/output/variables/tracers.jl
Labels: output :outbox_tray:

#667 Surface fluxes modular on ocean and land
  CHANGELOG.md
  src/SpeedyWeather.jl
  src/dynamics/diagnostic_variables.jl
  src/dynamics/prognostic_variables.jl
  src/physics/surface_fluxes.jl
  src/physics/surface_fluxes/heat.jl
  src/physics/surface_fluxes/moisture.jl
  src/physics/surface_fluxes/momentum.jl
  src/physics/surface_fluxes/surface_fluxes.jl
  src/physics/tendencies.jl
  test/runtests.jl
  test/surface_fluxes.jl
Labels: surface :mountain:

#671 Land model modularised
  CHANGELOG.md
  src/RingGrids/interpolation.jl
  src/SpeedyWeather.jl
  src/dynamics/prognostic_variables.jl
  src/dynamics/set.jl
  src/dynamics/spectral_grid.jl
  src/dynamics/time_integration.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/output/netcdf_output.jl
  src/output/variables/land.jl
  src/output/variables/output_variables.jl
  src/physics/column_variables.jl
  src/physics/land.jl
  src/physics/land/land.jl
  src/physics/land/rivers.jl
  src/physics/land/soil_moisture.jl
  src/physics/land/temperature.jl
  src/physics/land/vegetation.jl
  test/dynamics/dates.jl
  test/dynamics/diffusion.jl
  test/dynamics/forcing_drag.jl
  test/dynamics/geopotential.jl
  test/dynamics/orography.jl
  test/dynamics/particle_advection.jl
  test/dynamics/particles.jl
  test/dynamics/run_speedy.jl
  test/dynamics/set.jl
  test/dynamics/time_stepping.jl
  test/dynamics/tracer_advection.jl
  test/dynamics/vertical_advection.jl
  test/dynamics/vertical_coordinates.jl
  test/gpu/kernelabstractions.jl
  test/grids/geodesics.jl
  test/grids/grids.jl
  test/grids/interpolation.jl
  test/output/callbacks.jl
  test/output/netcdf_output.jl
  test/output/schedule.jl
  test/physics/column_variables.jl
  test/physics/convection.jl
  test/physics/land_sea_mask.jl
  test/physics/large_scale_condensation.jl
  test/physics/longwave_radiation.jl
  test/physics/ocean.jl
  test/physics/optical_depth.jl
  test/physics/radiation.jl
  test/physics/random_process.jl
  test/physics/stochastic_physics.jl
  test/physics/surface_fluxes.jl
  test/runtests.jl
  test/transforms/lower_triangular_matrix.jl
  test/transforms/resolutions.jl
  test/transforms/spectral_gradients.jl
  test/transforms/spectral_transform.jl
  test/transforms/spectral_transform_ad_rules.jl
  test/transforms/spectrum.jl
Labels: output :outbox_tray:, surface :mountain:
