Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2025-07, with the labels that each got.

#755 GeoMakie extension: animate simulation function
  CHANGELOG.md
  docs/src/output.md
  ext/SpeedyWeatherGeoMakieExt.jl
  src/SpeedyWeather.jl
Labels: user interface :musical_keyboard:, output :outbox_tray:, visualisation :framed_picture:

#757 Adjust particles for GPU
  CHANGELOG.md
  docs/src/particles.md
  src/dynamics/particle_advection.jl
  src/dynamics/particles.jl
  test/dynamics/particles.jl
Labels: gpu :framed_picture:, particles :balloon:

#776 nonparametric_type also for SubArray
  CHANGELOG.md
  src/LowerTriangularArrays/lower_triangular_array.jl
  src/RingGrids/grid.jl
  test/grids/grids.jl
Labels: bug :lady_beetle:, array types :1234:

#782 Overwrite output folder option
  CHANGELOG.md
  docs/src/examples_2D.md
  docs/src/output.md
  docs/src/particles.md
  src/dynamics/initial_conditions.jl
  src/dynamics/time_integration.jl
  src/output/feedback.jl
  src/output/jld2_output.jl
  src/output/netcdf_output.jl
  src/output/particle_tracker.jl
  test/dynamics/forcing_drag.jl
  test/dynamics/orography.jl
  test/dynamics/run_speedy.jl
  test/dynamics/vertical_advection.jl
  test/output/jld2_output.jl
  test/output/netcdf_output.jl
  test/physics/land_sea_mask.jl
  test/physics/ocean.jl
  test/physics/radiation.jl
  test/transforms/resolutions.jl
Labels: output :outbox_tray:

#784 Restart from file for ocean and land
  CHANGELOG.md
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
Labels: initial conditions :traffic_light:, ocean :ocean:, land :earth_africa:

#785 add a mailmap
  .mailmap
  CHANGELOG.md
Labels: structure :house:, package :package:

#787 Fix Haversine rounding errors with type promotion
  CHANGELOG.md
  src/RingGrids/geodesics.jl
  test/grids/geodesics.jl
Labels: precision :dart:, grid :globe_with_meridians:

#733 Minimal barotropic model GPU compat
  CHANGELOG.md
  benchmark/GPU_models/README.md
  benchmark/GPU_models/benchmark_models.jl
  benchmark/GPU_models/benckmark_barotropic.jl
  benchmark/Project.toml
  docs/make.jl
  docs/src/architectures_gpu.md
  docs/src/differentiability.md
  ext/SpeedyWeatherCUDAExt/SpeedyWeatherCUDAExt.jl
  ext/SpeedyWeatherCUDAExt/legendre.jl
  ext/SpeedyWeatherCUDAExt/spectral_transform.jl
  ext/SpeedyWeatherJLArraysExt.jl
  src/Architectures.jl
  src/SpeedyTransforms/legendre.jl
  src/SpeedyTransforms/spectral_transform.jl
  src/SpeedyTransforms/spectral_truncation.jl
  src/SpeedyWeather.jl
  src/Utils/kernel_launching.jl
  src/dynamics/diagnostic_variables.jl
  src/dynamics/horizontal_diffusion.jl
  src/dynamics/set.jl
  src/dynamics/spectral_grid.jl
  src/dynamics/tendencies.jl
  src/dynamics/time_integration.jl
  src/output/feedback.jl
  src/output/netcdf_output.jl
  test/GPU/barotropic.jl
  test/GPU/runtests.jl
  test/GPU/spectral_transform.jl
Labels: gpu :framed_picture:, time integration :clock10:
