Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2025-08, with the labels that each got.

#810 Make all land model components mutable
  CHANGELOG.md
  src/physics/land/geometry.jl
  src/physics/land/land.jl
  src/physics/land/soil_moisture.jl
  src/physics/land/temperature.jl
  src/physics/land/vegetation.jl
Labels: user interface :musical_keyboard:, structure :house:, land :earth_africa:

#807 Fix admonition and typo on GPU-and-Architectures docs
  CHANGELOG.md
  docs/src/architectures_gpu.md
Labels: documentation :books:

#811 Thermodynamic sea ice model
  CHANGELOG.md
  docs/make.jl
  docs/src/custom_ocean.md
  docs/src/ocean_sea_ice.md
  docs/src/output.md
  src/SpeedyWeather.jl
  src/dynamics/time_integration.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/output/variables/ocean.jl
  src/output/variables/output_variables.jl
  src/physics/albedo.jl
  src/physics/land_sea_mask.jl
  src/physics/ocean.jl
  src/physics/sea_ice.jl
Labels: ocean :ocean:, sea ice :ice_cube:

#814 ThermodynamicSeaIce testing
  CHANGELOG.md
  docs/make.jl
  docs/src/ocean.md
  docs/src/sea_ice.md
  src/output/variables/output_variables.jl
  src/physics/ocean.jl
  src/physics/sea_ice.jl
  test/grids/interpolation.jl
  test/physics/ocean.jl
  test/physics/ocean_sea_ice.jl
  test/runtests.jl
Labels: ocean :ocean:, sea ice :ice_cube:

#809 show architecture as "CPU"/"GPU"
  CHANGELOG.md
  ext/SpeedyWeatherGeoMakieExt.jl
  ext/SpeedyWeatherMakieExt.jl
  ext/SpeedyWeatherUnicodePlotsExt.jl
  src/Architectures.jl
  src/RingGrids/grid.jl
  src/RingGrids/grids/full_clenshaw.jl
  src/RingGrids/grids/full_gaussian.jl
  src/RingGrids/grids/full_healpix.jl
  src/RingGrids/grids/full_octahealpix.jl
  src/RingGrids/grids/healpix.jl
  src/RingGrids/grids/octahealpix.jl
  src/RingGrids/grids/octahedral_clenshaw.jl
  src/RingGrids/grids/octahedral_gaussian.jl
  src/RingGrids/grids/octaminimal_gaussian.jl
  src/dynamics/spectral_grid.jl
Labels: visualisation :framed_picture:

#820 Land with KernelAbstractions
  CHANGELOG.md
  README.md
  src/physics/land/soil_moisture.jl
  src/physics/land/temperature.jl
  src/physics/land/vegetation.jl
Labels: gpu :framed_picture:, land :earth_africa:

#828 Fix some missing scratch memory usages
  CHANGELOG.md
  src/dynamics/tendencies.jl
  src/dynamics/virtual_temperature.jl
Labels: transform :arrow_left: :arrow_right:, differentiability 🤖

#817 Snow fall from large-scale condensation
  CHANGELOG.md
  README.md
  docs/src/examples_3D.md
  docs/src/large_scale_condensation.md
  src/dynamics/diagnostic_variables.jl
  src/output/variables/precipitation.jl
  src/physics/column_variables.jl
  src/physics/convection.jl
  src/physics/define_column.jl
  src/physics/land/soil_moisture.jl
  src/physics/large_scale_condensation.jl
  src/physics/longwave_radiation.jl
  src/physics/thermodynamics.jl
  test/physics/column_variables.jl
  test/physics/large_scale_condensation.jl
  test/physics/longwave_radiation.jl
Labels: surface :mountain:, land :earth_africa:, snow :snowflake:
