Repository SpeedyWeather/SpeedyWeather.jl, pull requests merged in 2025-03, with the labels that each got.

#684 run! with steps argument
  CHANGELOG.md
  src/SpeedyWeather.jl
  src/dynamics/clock.jl
  src/models/simulation.jl
  test/dynamics/dates.jl
  test/output/schedule.jl
  test/physics/convection.jl
Labels: user interface :musical_keyboard:, time integration :clock10:

#677 Modular land model + diagnostic albedo, independent for ocean/land
  CHANGELOG.md
  docs/make.jl
  docs/src/index.md
  docs/src/land.md
  docs/src/land_sea_mask.md
  src/dynamics/diagnostic_variables.jl
  src/dynamics/prognostic_variables.jl
  src/dynamics/set.jl
  src/models/primitive_dry.jl
  src/models/primitive_wet.jl
  src/models/set.jl
  src/output/variables/land.jl
  src/output/variables/radiation.jl
  src/physics/albedo.jl
  src/physics/column_variables.jl
  src/physics/define_column.jl
  src/physics/land/geometry.jl
  src/physics/land/land.jl
  src/physics/land/rivers.jl
  src/physics/land/soil_moisture.jl
  src/physics/land/temperature.jl
  src/physics/land/thermodynamics.jl
  src/physics/land/vegetation.jl
  src/physics/land_sea_mask.jl
  src/physics/ocean.jl
  src/physics/shortwave_radiation.jl
  src/physics/surface_fluxes/moisture.jl
  src/physics/tendencies.jl
  test/dynamics/set.jl
  test/physics/albedo.jl
  test/physics/land.jl
  test/physics/land_sea_mask.jl
  test/runtests.jl
Labels: radiation :sun_with_face:, surface :mountain:

#691 Reverse for AbstractGridArray
  CHANGELOG.md
  src/RingGrids/RingGrids.jl
  src/RingGrids/reverse.jl
  test/grids/reverse.jl
  test/runtests.jl
Labels: grid :globe_with_meridians:

#695 Extended tests on comment and (maybe) all passing
  .github/workflows/extended_tests_on_comment.yml
  CHANGELOG.md
  test/differentiability/barotropic.jl
  test/differentiability/timestepping.jl
Labels: testing :test_tube:, differentiability 🤖

#696 Extended tests launched on comment on PR branch
  .github/workflows/extended_tests_on_comment.yml
  CHANGELOG.md
  test/differentiability/barotropic.jl
Labels: testing :test_tube:, differentiability 🤖

#697 Revising extended tests
  CHANGELOG.md
  test/differentiability/barotropic.jl
Labels: testing :test_tube:, differentiability 🤖
